* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 1.6rem;
  padding: 1rem 5rem;
  border: 2px solid #ffbbbb;
  border-radius: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.content__h2 {
  font-size: 2rem;
  color: #ffbbbb;
}

.condition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
}
.condition__first {
  display: flex;
}
.condition__first li:first-child {
  border-right: 1px solid #ffbbbb;
}
.condition__item--1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding-right: 10px;
}
.condition__item--1 p {
  padding-right: 3rem;
}
.condition__item--1 select {
  width: 100px;
  padding: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.condition__second {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  align-items: center;
}
.condition__item--2 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1rem;
}
.condition__item--2 p {
  position: relative;
  left: 85px;
}
.condition__item--2 select {
  width: 150px;
  padding: 0.5rem 0.6rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.position {
  left: 100px !important;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border: 2px solid #ffbbbb;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.main {
  margin: 2rem;
}

.firstpage {
  align-items: center;
}
.firstpage__logo {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.header {
  position: relative;
  width: 100%;
  height: 37vh;
}
.header__logo img {
  position: absolute;
  width: 60%;
  height: auto;
  top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.second__margin {
  height: 63vh;
}
.second__link {
  color: #ffbbbb;
}
.second__other {
  position: relative;
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 1.5px solid #ffbbbb;
}
.second__link:visited, .second__link:link {
  color: #ffbbbb;
}
.second__group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.second__group-icon:not(:last-child) {
  padding-right: 2rem;
}

.form {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__group {
  padding-top: 1.5rem;
}
.form__input {
  width: 100%;
  border: none;
  padding: 1.5rem 2rem;
  border-bottom: 2px solid #000;
  margin-top: 1.5rem;
}

.second__signup {
  margin-top: 4rem;
}

.form__login {
  margin-top: 5rem;
}

.main {
  margin-top: 2.4rem;
  margin-bottom: 10rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.products a:visited,
.products a:link {
  color: #ffbbbb;
}

.product img {
  width: 328px;
  height: auto;
}
.product__detail {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.product__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.product__name {
  border-left: 2px solid #ffbbbb;
  padding-left: 0.5rem;
}
.product__name p:first-child {
  font-size: 0.9rem;
}
.product__name p:nth-child(2) {
  font-size: 1.6rem;
  font-weight: bold;
}
.product__name p:last-child {
  font-size: 0.9rem;
}
.product__text {
  font-size: 0.9rem;
  text-align: center;
}
.product__price {
  display: flex;
  border-left: 2px solid #ffbbbb;
  padding-left: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.product__price span {
  font-weight: normal;
  margin-left: 0.5rem;
}
.product__star {
  display: flex;
  align-items: center;
}
.product__star #star-1,
.product__star #star-2,
.product__star #star-3,
.product__star #star-4 {
  fill: #ffbbbb;
}
.product__num {
  margin-left: 1rem;
}
.product__num span {
  font-size: 1.4rem;
}
.product__cart {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-color: #ffbbbb;
  padding: 0.7rem 2rem;
  position: fixed;
  top: 87%;
  left: 28%;
}

.express {
  position: relative;
  width: 100%;
  padding: 1rem 2rem;
  border: 2px solid #ccc9e7;
  border-radius: 2rem;
}
.express__buy {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #fe9200;
}
.express__img {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.express__img p {
  color: #fff;
  width: 100%;
}

.review {
  position: relative;
  border-radius: 2rem;
  border: 2px solid #ffbbbb;
  padding: 2rem 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.review h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
.review__people {
  border-radius: 1rem;
  border: 1px solid #ffbf85;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem 2rem 1rem;
  position: relative;
}
.review__people p:first-child {
  font-size: 8px;
  margin-bottom: 5px;
}
.review__people p:nth-child(2) {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.review__people p:last-child {
  position: absolute;
  font-size: 0.5rem;
  right: 1rem;
}
.review__total {
  border: 0.5px solid #333;
  width: 50%;
  border-radius: 2rem;
  position: absolute;
  left: 50%;
  top: 92%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.review__total p {
  font-size: 6px;
  padding: 4px 2px;
}

.profile__top {
  display: flex;
  justify-content: space-between;
}
.profile__img img {
  border-radius: 50%;
}
.profile__groups {
  display: flex;
}
.profile__group {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.profile__items {
  display: flex;
}
.profile__name p {
  font-size: 2rem;
  color: #ffbf85;
}
.profile__item {
  align-items: center;
  margin: 0.8rem;
  text-align: center;
}
.profile__item p {
  font-size: 1rem !important;
  color: black !important;
  margin-top: 0.5rem;
}

.method {
  display: flex;
  justify-content: space-around;
  border: 2px solid #ccc9e7;
  border-radius: 2rem;
  padding: 2rem;
  margin-top: 2rem;
}

.express {
  border: 2px solid #ccc9e7;
  padding: 1rem 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.express select {
  margin-bottom: 1rem;
  border-radius: 1.3rem;
  padding: 1rem;
  border: 1px solid #ffbf85;
}

.cart__header {
  text-align: center;
  font-size: 1.8rem;
}
.cart__groups {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.cart__group {
  margin-left: 1rem;
  font-size: 1.3rem;
}
.cart__icon {
  display: flex;
  justify-content: flex-end;
}
.cart__icon h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffbbbb;
  padding: 1rem;
}
.cart__single {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart__single img {
  padding: 1rem;
}
.cart__input {
  width: 320px;
  height: 80px;
  padding: 0.5rem;
}
.cart__total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  font-size: 1.6rem;
}
.cart__button {
  border-radius: 1rem;
  background-color: #ffbbbb;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  width: 150px;
  text-align: center;
  margin-left: 80px;
  margin-top: 20px;
}

.home__name {
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0;
}
.home__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.account {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
}
.account img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.search {
  width: 255px;
  height: 4rem;
}
.search__input {
  width: 100%;
  height: 4rem;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  border-radius: 2rem;
  border: 1px solid black;
  outline: none;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0.5rem 0;
}
.banner__img img {
  width: 315px;
  height: auto;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination--1 {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 1px solid #ffbbbb;
  margin: 0.5rem;
}
.pagination--active {
  background-color: #ffbbbb;
}

.category {
  margin: 0 3rem;
}
.category ul {
  display: flex;
}
.category ul li {
  position: relative;
  width: 6rem;
  height: 6rem;
  background-color: #ffbf85;
  border-radius: 50%;
  border: 1px solid #ffbbbb;
}
.category ul li img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.category ul li:not(last-child) {
  margin: 1rem;
}
.category__btn {
  text-align: center;
  width: 150px;
  margin-left: 8rem;
  margin-top: 1.5rem;
}

.ranking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 3rem 10rem 3rem;
}
.ranking__box img {
  width: 90px;
  height: 40px;
}
.ranking__box--2 img {
  width: 120px;
  height: 70px;
}

.margin__h2 {
  margin-left: 2rem;
}