.home {
  &__name {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
  }
  &__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
  }
}
.account {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.search {
  width: 255px;
  height: 4rem;

  &__input {
    width: 100%;
    height: 4rem;
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    border-radius: 2rem;
    border: 1px solid black;
    outline: none;
  }
}

// BANNER
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0.5rem 0;
  &__img img {
    width: 315px;
    height: auto;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  &--1 {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 1px solid $color-primary;
    margin: 0.5rem;
  }
  &--active {
    background-color: $color-primary;
  }
}

// CATEGORY
.category {
  margin: 0 3rem;
  ul {
    display: flex;
    li {
      position: relative;
      width: 6rem;
      height: 6rem;
      background-color: $color-light;
      border-radius: 50%;
      border: 1px solid $color-primary;
    }
    li img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    li:not(last-child) {
      margin: 1rem;
    }
  }
  &__btn {
    text-align: center;
    width: 150px;
    margin-left: 8rem;
    margin-top: 1.5rem;
  }
}

.ranking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 3rem 10rem 3rem;

  &__box img {
    width: 90px;
    height: 40px;
  }
  &__box--2 img {
    width: 120px;
    height: 70px;
  }
}
.margin__h2 {
  margin-left: 2rem;
}
