.main {
  margin-top: 2.4rem;
  margin-bottom: 10rem;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__box {
  }
  &__title {
  }
}
footer {
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
  background-color: #fff;
}
