footer 
  .footer__home 
    a(href="home.html") 
      img(src="img/home.svg", alt="home")
  .footer__cart
    a(href="cart.html") 
      img(src="img/cart.svg", alt="home")
  .footer__ring 
    a(href="information.html") 
      img(src="img/ring.svg", alt="home")
  .footer__heart
    a(href="like.html") 
      img(src="img/heart.svg", alt="home")