doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/style.css")
    title 提案
  body.main
    .home__nav
      a(href="profile.html")  
        .account 
          img(src="img/user-4.jpg", alt="user")
      .search
        input.search__input(type="text" placeholder="IPhone")
    .products 
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      a(href="product.html") 
        .products__box
          .products__img 
            img(src="img/product.png", alt="product")
          .products__title 
            p 入浴剤
            p バスソルト
            p ¥2,800
      
       
      script(src="./js/app.js") 
    include _footer    